<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>All Registered Teams</title>
</head>
<body id="team-back" >



    <header>
        <div class="newnav">
            <a href="/edit/profile/" class="link" id="loginout">Edit Profile</a>
            
            <a href="/logout/" class="link" id="loginout">Logout</a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
        
            <a href="/dashboard/randomize_weapon/">
                <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
            </a>
        
            <a href="/dashboard/" class="link">Home</a>
        
            <a href="/dashboard/maps/" class="link">All Maps</a>
        
            <a href="/dashboard/weapons/" class="link">All Weapons</a>
        
            <a href="/all-teams/" class="link">All Teams</a>

            <a href="/create/team/" class="link">Create a Team</a>
        
        
        </div>
    </header>


    <main>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong class="error-par">WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p class="error-par">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <h1 class="center-par">Your Teams</h1>
        
        <table>
            <tbody>

                <tr>
                    <th>
                        Team Name
                    </th>
                    <th>
                        View
                    </th>
                </tr>
                {% for team in all_teams%}
                    {% if logged_in_user.id == team.creator_id %}
                    <tr class="teams-made">
                        <td>
                            <p>{{ team.team_name }}</p>
                        </td>
                        <td>
                            <a href="/team/{{team.id}}/view/" class="view-delete">View</a>
                        </td>
                        <td>
                            <a href="/team/{{team.id}}/delete/" class="view-delete">Delete</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        

        <h2 class="center-par">All Teams</h2>
        <table>
            <tr>
                <th>
                    Team Names
                </th>
                <th>
                    List Of Teammates
                </th>
            </tr>
            {% for team in all_teams%}
                <tr class="all-teams">
                    <td>
                        <a href="/team/{{team.id}}/view/" class="view">{{ team.team_name }}</a>
                    </td>
                    <!-- <td>
                        <a href="/team/{{team.id}}/view/" class="view-delete">View</a>
                    </td> -->
                    <td class="team-members">
                        {% for member in team.on_team %}
                            <p>{{member.username}}</p>
                        {% endfor %}
                    </td>
                </tr>
                
            {% endfor %}
        </table>
    
    </main>



    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

