<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong>WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>


    <div class="dash">
        
            <a href="">Image</a>
        
            <a href="/dashboard/" class="link">Home</a>
        
            <a href="/dashboard/weapons/" class="link">All Weapons</a>
        
            <a href="/all-teams/" class="link">All Teams</a>
        
            <a href="/create/team/" class="link">Create a Team</a>
        
            <a href="" class="link">Patch Notes</a>
        
    </div>



    <main>

        <h1 class="center-par">All Maps</h1>
        
        <div class="maps">
            <label>
                <img src="{{ url_for('static',filename='img/Scorch_Gorge.jpg') }}" alt="Scorch Gorge" class="map-imgs">
                <p>Scorch Gorge</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Eeltail_Alley.jpg') }}" alt="EelTail Alley" class="map-imgs">
                <p>EelTail Alley</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Museum_dAlfonsino.jpg') }}" alt="Museum D'Alfonsino" class="map-imgs">
                <p>Museum D'Alfonsino</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Undertow_Spillway.jpg') }}" alt="Undertow Spillway" class="map-imgs">
                <p>Undertow Spillway</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Mincemeat_Metalworks.jpg') }}" alt="Mincemeat Metalworks" class="map-imgs">
                <p>Mincemeat Metalworks</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Hammerhead_Bridge.jpg') }}" alt="Hammerhead Bridge" class="map-imgs">
                <p>Hammerhead Bridge</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Mahi-Mahi_Resort.jpg') }}" alt="Mahi-Mahi Resort" class="map-imgs">
                <p>Mahi-Mahi Resort</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Inkblot_Art_Academy.jpg') }}" alt="Inkblot Art Academy" class="map-imgs">
                <p>Inkblot Art Academy</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Sturgeon_Shipyard.png') }}" alt="Sturgeon Shipyard" class="map-imgs">
                <p>Sturgeon Shipyard</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Mako_Mart.jpg') }}" alt="MakoMart" class="map-imgs">
                <p>MakoMart</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Wahoo_World.jpg') }}" alt="Wahoo World" class="map-imgs">
                <p>Wahoo World</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/Hagglefish_Market.jpg') }}" alt="Hagglefish Market" class="map-imgs">
                <p>Hagglefish Market</p>
            </label>
        </div>
    
    
    </main>


        
        

    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

