<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong>WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>


    <div class="dash">
        
            <a href="">Image</a>
        
            <a href="/dashboard/" class="link">Home</a>
        
            <a href="/dashboard/maps/" class="link">All Maps</a>
        
            <a href="/dashboard/weapons/" class="link">All Weapons</a>
        
            <a href="/create/team/" class="link">Create a Team</a>
        
            <a href="" class="link">Patch Notes</a>
        
    </div>



    <main>

        <h1 class="center-par">Your Teams</h1>
        
        

        <h2 class="center-par">All Teams</h2>
    
    
    </main>



    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

