<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>
<body id="weapons-back">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong>WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <div class="newnav">
        
            <a href="/edit/profile/" class="link" id="loginout">Edit Profile</a>
            
            <a href="/logout/" class="link" id="loginout">Logout</a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
        
            <a href="">
                <img src="{{ url_for('static',filename='img/char_icons/O.R.C.A._icon.png') }}" alt="O.R.C.A" id="orca">
            </a>
        
            <a href="/dashboard/" class="link">Home</a>
        
            <a href="/dashboard/maps/" class="link">All Maps</a>
        
            <a href="/all-teams/" class="link">All Teams</a>
        
            <a href="/create/team/" class="link">Create a Team</a>
        
            <a href="" class="link">Patch Notes</a>
        
        </div>
    </header>






    <main>
        <div class="weapon-container">

            <h1 class="center-par">All Weapons</h1>
            
            <div class="all-weapons">
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Hero_Shot_Replica_Flat.png') }}" alt="Hero Shot Replica" class="weapon-img">
                    <div class="attachments">
                        <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka" class="weapon-spe">
                    </div>
                    <p>Hero Shot Replica</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splattershot_Jr._Flat.png') }}" alt="Splattershot Jr." class="weapon-img">
                    <div class="attachments">
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler" class="weapon-spe">
                        
                    </div>
                    <p>Splattershot Jr.</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splat_Charger_Flat.png') }}" alt="Splat Charger" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac" class="weapon-spe">
                    </div>
                    <p>Splat Charger</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splat_Roller_Flat.png') }}" alt="Splat Roller" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler" class="weapon-spe">
                    </div>
                    <p>Splat Roller</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splattershot_Flat.png') }}" alt="Splattershot" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka" class="weapon-spe">
                    </div>
                    <p>Splattershot</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Blaster_Flat.png') }}" alt="Blaster" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler" class="weapon-spe">
                    </div>
                    <p>Blaster</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splat_Dualies_Flat.png') }}" alt="Splat Dualies" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank" class="weapon-spe">
                    </div>
                    <p>Splat Dualies</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Slosher_Flat.png') }}" alt="Slosher" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Triple_Inkstrike.png') }}" alt="Triple Inkstrike" class="weapon-spe">
                    </div>
                    <p>Slosher</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Octobrush_Flat.png') }}" alt="Octobrush" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster" class="weapon-spe">
                    </div>
                    <p>Octobrush</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Heavy_Splatling_Flat.png') }}" alt="Heavy Splatling" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker" class="weapon-spe">
                    </div>
                    <p>Heavy Splatling</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Tri-Stringer_Flat.png') }}" alt="Tri-Stringer" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Toxic_Mist_Flat.png') }}" alt="Toxic Mist" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer Wail 5.1" class="weapon-spe">
                    </div>
                    <p>Tri-Stringer</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splat_Brella_Flat.png') }}" alt="Splat Brella" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Triple_Inkstrike.png') }}" alt="Triple Inkstrike" class="weapon-spe">
                    </div>
                    <p>Splat Brella</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Aerospray_MG_Flat.png') }}" alt="Aerospray MG" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Fizzy_Bomb_Flat.png') }}" alt="Fizzy Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Reefslider.png') }}" alt="Reefslider" class="weapon-spe">
                    </div>
                    <p>Aerospray MG</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splatana_Wiper_Flat.png') }}" alt="Splatana Wiper" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Torpedo_Flat.png') }}" alt="Torpedo" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ultra_Stamp.png') }}" alt="Ultra Stamp" class="weapon-spe">
                    </div>
                    <p>Splatana Wiper</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splatana_Wiper_Flat.png') }}" alt="Splatana Wiper" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster" class="weapon-spe">
                    </div>
                    <p>Carbon Roller</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/N-ZAP_85_Flat.png') }}" alt="N-ZAP '85" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler" class="weapon-spe">
                    </div>
                    <p>N-ZAP '85</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Rapid_Blaster_Flat.png') }}" alt="Rapid Blaster" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Triple_Inkstrike.png') }}" alt="Triple Inkstrike" class="weapon-spe">
                    </div>
                    <p>Rapid Blaster</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Inkbrush_Flat.png') }}" alt="Inkbrush" class="weapon-img">
                    <div class="attachments">
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer_Wail 5.1" class="weapon-spe">
                        
                    </div>
                    <p>Inkbrush</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Classic_Squiffer_Flat.png') }}" alt="Classic Squiffer" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler" class="weapon-spe">
                    </div>
                    <p>Classic Squiffer</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Dualie_Squelchers_Flat.png') }}" alt="Dualie Squelchers" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker" class="weapon-spe">
                    </div>
                    <p>Dualie Squelchers</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splattershot_Pro_Flat.png') }}" alt="Splatershot Pro" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Angle_Shooter_Flat.png') }}" alt="Angle Shooter" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank" class="weapon-spe">
                    </div>
                    <p>Splatershot Pro</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Sploosh-o-matic_Flat.png') }}" alt="Sploosh-o-matic" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ultra_Stamp.png') }}" alt="Ultra Stamp" class="weapon-spe">
                    </div>
                    <p>Sploosh-o-matic</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splatterscope_Flat.png') }}" alt="Splatterscope" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac" class="weapon-spe">
                    </div>
                    <p>Splatterscope</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Tri-Slosher_Flat.png') }}" alt="Tri-Slosher" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Toxic_Mist_Flat.png') }}" alt="Toxic Mist" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Inkjet.png') }}" alt="Inkjet" class="weapon-spe">
                    </div>
                    <p>Tri-Slosher</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/REEF-LUX_450_Flat.png') }}" alt="REEF-LUX 450" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Tenta_Missiles.png') }}" alt="Tenta Missiles" class="weapon-spe">
                    </div>
                    <p>REEF-LUX 450</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Range_Blaster_Flat.png') }}" alt="Range Blaster" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker" class="weapon-spe">
                    </div>
                    <p>Range Blaster</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/.52_Gal_Flat.png') }}" alt=".52 Gal" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splash_Wall_Flat.png') }}" alt="Splash Wall" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer Wail 5.1" class="weapon-spe">
                    </div>
                    <p>.52 Gal</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Dynamo_Roller_Flat.png') }}" alt="Dynamo Roller" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler" class="weapon-spe">
                    </div>
                    <p>Dynamo Roller</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Mini_Splatling_Flat.png') }}" alt="Mini Splatling" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Burst_Bomb_Flat.png') }}" alt="Burst Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ultra_Stamp.png') }}" alt="Ultra Stamp" class="weapon-spe">
                    </div>
                    <p>Mini Splatling</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Luna_Blaster_Flat.png') }}" alt="Luna Blaster" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster" class="weapon-spe">
                    </div>
                    <p>Luna Blaster</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/L-3_Nozzlenose_Flat.png') }}" alt="L-3 Nozzlenose" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank" class="weapon-spe">
                    </div>
                    <p>L-3 Nozzlenose</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/L-3_Nozzlenose_Flat.png') }}" alt="L-3 Nozzlenose" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank" class="weapon-spe">
                    </div>
                    <p>L-3 Nozzlenose</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Dapple_Dualies_Flat.png') }}" alt="Dapple Dualies" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Squid_Beakon_Flat.png') }}" alt="Squid Beacon" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler" class="weapon-spe">
                    </div>
                    <p>Dapple Dualies</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Sloshing_Machine_Flat.png') }}" alt="Sloshing Machine" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Fizzy_Bomb_Flat.png') }}" alt="Fizzy Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Booyah_Bomb.png') }}" alt="Booyah Bomb" class="weapon-spe">
                    </div>
                    <p>Sloshing Machine</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Jet_Squelcher_Flat.png') }}" alt="Jet Squelcher" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Angle_Shooter_Flat.png') }}" alt="Angle Shooter" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac" class="weapon-spe">
                    </div>
                    <p>Jet Squelcher</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splatana_Stamper_Flat.png') }}" alt="Splatana Stamper" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Burst_Bomb_Flat.png') }}" alt="Burst Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster" class="weapon-spe">
                    </div>
                    <p>Splatana Stamper</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Tenta_Brella_Flat.png') }}" alt="Tenta Brella" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Squid_Beakon_Flat.png') }}" alt="Squid Beacon" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac" class="weapon-spe">
                    </div>
                    <p>Tenta Brella</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Splash-o-matic_Flat.png') }}" alt="Splash-o-matic" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Burst_Bomb_Flat.png') }}" alt="Burst Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank" class="weapon-spe">
                    </div>
                    <p>Splash-o-matic</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Dark_Tetra_Dualies_Flat.png') }}" alt="Dark Tetra Dualies" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Reefslider.png') }}" alt="Reefslider" class="weapon-spe">
                    </div>
                    <p>Dark Tetra Dualies</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/.96_Gal_Flat.png') }}" alt=".96 Gal" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac" class="weapon-spe">
                    </div>
                    <p>.96 Gal</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Undercover_Brella_Flat.png') }}" alt="Undercover Brella" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Reefslider.png') }}" alt="Reefslider" class="weapon-spe">
                    </div>
                    <p>Undercover Brella</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/E-liter_4K_Flat.png') }}" alt="E-liter 4K" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker" class="weapon-spe">
                    </div>
                    <p>E-liter 4K</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Squeezer_Flat.png') }}" alt="Squeezer" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splash_Wall_Flat.png') }}" alt="Splash Wall" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka" class="weapon-spe">
                    </div>
                    <p>Squeezer</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Bloblobber_Flat.png') }}" alt="Bloblobber" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Storm.png') }}" alt="Ink Storm" class="weapon-spe">
                    </div>
                    <p>Bloblobber</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Flingza_Roller_Flat.png') }}" alt="Flingza Roller" class="weapon-img">
                    
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Tenta_Missiles.png') }}" alt="Tenta Missiles" class="weapon-spe">
                    </div>
                    <p>Flingza Roller</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Hydra_Splatling_Flat.png') }}" alt="Hydra Splatling" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Booyah_Bomb.png') }}" alt="Booyah Bomb" class="weapon-spe">
                    </div>
                    <p>Hydra Splatling</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Glooga_Dualies_Flat.png') }}" alt="Glooga Dualies" class="weapon-img">
                    <div class="attachments">
                        <img src="{{ url_for('static',filename='img/subs/Splash_Wall_Flat.png') }}" alt="Splash Wall" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Booyah_Bomb.png') }}" alt="Booyah Bomb" class="weapon-spe">
                        
                    </div>
                    <p>Glooga Dualies</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Clash_Blaster_Flat.png') }}" alt="Clash Blaster" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka" class="weapon-spe">
                    </div>
                    <p>Clash Blaster</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Bamboozler_14_Mk_I_Flat.png') }}" alt="Bamboozler 14 Mk 1" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer Wail 5.1" class="weapon-spe">
                    </div>
                    <p>Bamboozler 14 Mk 1</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/H-3_Nozzlenose_Flat.png') }}" alt="H-3 Nozzlenose" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler" class="weapon-spe">
                    </div>
                    <p>H-3 Nozzlenose</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Goo_Tuber_Flat.png') }}" alt="Goo Tuber" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Torpedo_Flat.png') }}" alt="Torpedo" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Tenta_Missiles.png') }}" alt="Tenta Missiles" class="weapon-spe">
                    </div>
                    <p>Goo Tuber</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Rapid_Blaster_Pro_Flat.png') }}" alt="Rapid Blaster Pro" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Toxic_Mist_Flat.png') }}" alt="Toxic_Mist" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac" class="weapon-spe">
                    </div>
                    <p>Rapid Blaster Pro</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/E-liter_4K_Scope_Flat.png') }}" alt="E-liter 4K Scope" class="weapon-img">
                    
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker" class="weapon-spe">
                    </div>
                    <p>E-liter 4K Scope</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Nautilus_47_Flat.png') }}" alt="Nautilus 47" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Storm.png') }}" alt="Ink Storm" class="weapon-spe">
                    </div>
                    <p>Nautilus 47</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Explosher_Flat.png') }}" alt="Explosher" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Ink_Storm.png') }}" alt="Ink Storm" class="weapon-spe">
                    </div>
                    <p>Explosher</p>
                </label>
                <label class="weapon-label">
                    <img src="{{ url_for('static',filename='img/weapons/Ballpoint_Splatling_Flat.png') }}" alt="Ballpoint Splatling" class="weapon-img">
                    <div class="attachments">
                        
                        <img src="{{ url_for('static',filename='img/subs/Fizzy_Bomb_Flat.png') }}" alt="Fizzy Bomb" class="weapon-sub">
                        <img src="{{ url_for('static',filename='img/specials/Inkjet.png') }}" alt="Inkjet" class="weapon-spe">
                    </div>
                    <p>Ballpoint Splatling</p>
                </label>
        </div>
            
        </div>
    
    
    </main>


        
        

    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

