<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong>WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>






    <main>
        <div>
        
            <a href="">Image</a>
        
            <a href="/dashboard/">Home</a>
        
            <a href="/dashboard/maps/">All Maps</a>
        
            <a href="/all-teams/">All Teams</a>
        
            <a href="/create/team/">Create a Team</a>
        
            <a href="">Patch Notes</a>
        
        </div>
        <h1>All Weapons</h1>
        
        <div>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Hero_Shot_Replica_Flat.png') }}" alt="Hero Shot Replica">
                <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb">
                <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka">
                <p>Hero Shot Replica</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splattershot_Jr._Flat.png') }}" alt="Splattershot Jr.">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler">
                <p>Splattershot Jr.</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splat_Charger_Flat.png') }}" alt="Splat Charger">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac">
                <p>Splat Charger</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splat_Roller_Flat.png') }}" alt="Splat Roller">
                <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb">
                <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler">
                <p>Splat Roller</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splattershot_Flat.png') }}" alt="Splattershot">
                <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb">
                <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka">
                <p>Splattershot</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Blaster_Flat.png') }}" alt="Blaster">
                <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb">
                <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler">
                <p>Blaster</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splat_Dualies_Flat.png') }}" alt="Splat Dualies">
                <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb">
                <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank">
                <p>Splat Dualies</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Slosher_Flat.png') }}" alt="Slosher">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Triple_Inkstrike.png') }}" alt="Triple Inkstrike">
                <p>Slosher</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Octobrush_Flat.png') }}" alt="Octobrush">
                <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb">
                <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster">
                <p>Octobrush</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Heavy_Splatling_Flat.png') }}" alt="Heavy Splatling">
                <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler">
                <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker">
                <p>Heavy Splatling</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Tri-Stringer_Flat.png') }}" alt="Tri-Stringer">
                <img src="{{ url_for('static',filename='img/subs/Toxic_Mist_Flat.png') }}" alt="Toxic Mist">
                <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer Wail 5.1">
                <p>Tri-Stringer</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splat_Brella_Flat.png') }}" alt="Splat Brella">
                <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler">
                <img src="{{ url_for('static',filename='img/specials/Triple_Inkstrike.png') }}" alt="Triple Inkstrike">
                <p>Splat Brella</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Aerospray_MG_Flat.png') }}" alt="Aerospray MG">
                <img src="{{ url_for('static',filename='img/subs/Fizzy_Bomb_Flat.png') }}" alt="Fizzy Bomb">
                <img src="{{ url_for('static',filename='img/specials/Reefslider.png') }}" alt="Reefslider">
                <p>Aerospray MG</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splatana_Wiper_Flat.png') }}" alt="Splatana Wiper">
                <img src="{{ url_for('static',filename='img/subs/Torpedo_Flat.png') }}" alt="Torpedo">
                <img src="{{ url_for('static',filename='img/specials/Ultra_Stamp.png') }}" alt="Ultra Stamp">
                <p>Splatana Wiper</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splatana_Wiper_Flat.png') }}" alt="Splatana Wiper">
                <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb">
                <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster">
                <p>Carbon Roller</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/N-ZAP_85_Flat.png') }}" alt="N-ZAP '85">
                <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb">
                <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler">
                <p>N-ZAP '85</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Rapid_Blaster_Flat.png') }}" alt="Rapid Blaster">
                <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine">
                <img src="{{ url_for('static',filename='img/specials/Triple_Inkstrike.png') }}" alt="Triple Inkstrike">
                <p>Rapid Blaster</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Inkbrush_Flat.png') }}" alt="Inkbrush">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer_Wail 5.1">
                <p>Inkbrush</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Classic_Squiffer_Flat.png') }}" alt="Classic Squiffer">
                <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor">
                <img src="{{ url_for('static',filename='img/specials/Big_Bubbler.png') }}" alt="Big Bubbler">
                <p>Classic Squiffer</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Dualie_Squelchers_Flat.png') }}" alt="Dualie Squelchers">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker">
                <p>Dualie Squelchers</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splattershot_Pro_Flat.png') }}" alt="Splatershot Pro">
                <img src="{{ url_for('static',filename='img/subs/Angle_Shooter_Flat.png') }}" alt="Angle Shooter">
                <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank">
                <p>Splatershot Pro</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Sploosh-o-matic_Flat.png') }}" alt="Sploosh-o-matic">
                <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb">
                <img src="{{ url_for('static',filename='img/specials/Ultra_Stamp.png') }}" alt="Ultra Stamp">
                <p>Sploosh-o-matic</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splatterscope_Flat.png') }}" alt="Splatterscope">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac">
                <p>Splatterscope</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Tri-Slosher_Flat.png') }}" alt="Tri-Slosher">
                <img src="{{ url_for('static',filename='img/subs/Toxic_Mist_Flat.png') }}" alt="Toxic Mist">
                <img src="{{ url_for('static',filename='img/specials/Inkjet.png') }}" alt="Inkjet">
                <p>Tri-Slosher</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/REEF-LUX_450_Flat.png') }}" alt="REEF-LUX 450">
                <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb">
                <img src="{{ url_for('static',filename='img/specials/Tenta_Missiles.png') }}" alt="Tenta Missiles">
                <p>REEF-LUX 450</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Range_Blaster_Flat.png') }}" alt="Range Blaster">
                <img src="{{ url_for('static',filename='img/subs/Suction_Bomb_Flat.png') }}" alt="Suction Bomb">
                <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker">
                <p>Range Blaster</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/.52_Gal_Flat.png') }}" alt=".52 Gal">
                <img src="{{ url_for('static',filename='img/subs/Splash_Wall_Flat.png') }}" alt="Splash Wall">
                <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer Wail 5.1">
                <p>.52 Gal</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Dynamo_Roller_Flat.png') }}" alt="Dynamo Roller">
                <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler">
                <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler">
                <p>Dynamo Roller</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Mini_Splatling_Flat.png') }}" alt="Mini Splatling">
                <img src="{{ url_for('static',filename='img/subs/Burst_Bomb_Flat.png') }}" alt="Burst Bomb">
                <img src="{{ url_for('static',filename='img/specials/Ultra_Stamp.png') }}" alt="Ultra Stamp">
                <p>Mini Splatling</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Luna_Blaster_Flat.png') }}" alt="Luna Blaster">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster">
                <p>Luna Blaster</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/L-3_Nozzlenose_Flat.png') }}" alt="L-3 Nozzlenose">
                <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb">
                <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank">
                <p>L-3 Nozzlenose</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/L-3_Nozzlenose_Flat.png') }}" alt="L-3 Nozzlenose">
                <img src="{{ url_for('static',filename='img/subs/Curling_Bomb_Flat.png') }}" alt="Curling Bomb">
                <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank">
                <p>L-3 Nozzlenose</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Dapple_Dualies_Flat.png') }}" alt="Dapple Dualies">
                <img src="{{ url_for('static',filename='img/subs/Squid_Beakon_Flat.png') }}" alt="Squid Beacon">
                <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler">
                <p>Dapple Dualies</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Sloshing_Machine_Flat.png') }}" alt="Sloshing Machine">
                <img src="{{ url_for('static',filename='img/subs/Fizzy_Bomb_Flat.png') }}" alt="Fizzy Bomb">
                <img src="{{ url_for('static',filename='img/specials/Booyah_Bomb.png') }}" alt="Booyah Bomb">
                <p>Sloshing Machine</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Jet_Squelcher_Flat.png') }}" alt="Jet Squelcher">
                <img src="{{ url_for('static',filename='img/subs/Angle_Shooter_Flat.png') }}" alt="Angle Shooter">
                <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac">
                <p>Jet Squelcher</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splatana_Stamper_Flat.png') }}" alt="Splatana Stamper">
                <img src="{{ url_for('static',filename='img/subs/Burst_Bomb_Flat.png') }}" alt="Burst Bomb">
                <img src="{{ url_for('static',filename='img/specials/Zipcaster.png') }}" alt="Zipcaster">
                <p>Splatana Stamper</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Tenta_Brella_Flat.png') }}" alt="Tenta Brella">
                <img src="{{ url_for('static',filename='img/subs/Squid_Beakon_Flat.png') }}" alt="Squid Beacon">
                <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac">
                <p>Tenta Brella</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Splash-o-matic_Flat.png') }}" alt="Splash-o-matic">
                <img src="{{ url_for('static',filename='img/subs/Burst_Bomb_Flat.png') }}" alt="Burst Bomb">
                <img src="{{ url_for('static',filename='img/specials/Crab_Tank.png') }}" alt="Crab Tank">
                <p>Splash-o-matic</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Dark_Tetra_Dualies_Flat.png') }}" alt="Dark Tetra Dualies">
                <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb">
                <img src="{{ url_for('static',filename='img/specials/Reefslider.png') }}" alt="Reefslider">
                <p>Dark Tetra Dualies</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/.96_Gal_Flat.png') }}" alt=".96 Gal">
                <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler">
                <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac">
                <p>.96 Gal</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Undercover_Brella_Flat.png') }}" alt="Undercover Brella">
                <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine">
                <img src="{{ url_for('static',filename='img/specials/Reefslider.png') }}" alt="Reefslider">
                <p>Undercover Brella</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/E-liter_4K_Flat.png') }}" alt="E-liter 4K">
                <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine">
                <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker">
                <p>E-liter 4K</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Squeezer_Flat.png') }}" alt="Squeezer">
                <img src="{{ url_for('static',filename='img/subs/Splash_Wall_Flat.png') }}" alt="Splash Wall">
                <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka">
                <p>Squeezer</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Bloblobber_Flat.png') }}" alt="Bloblobber">
                <img src="{{ url_for('static',filename='img/subs/Sprinkler_Flat.png') }}" alt="Sprinkler">
                <img src="{{ url_for('static',filename='img/specials/Ink_Storm.png') }}" alt="Ink Storm">
                <p>Bloblobber</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Flingza_Roller_Flat.png') }}" alt="Flingza Roller">
                <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine">
                <img src="{{ url_for('static',filename='img/specials/Tenta_Missiles.png') }}" alt="Tenta Missiles">
                <p>Flingza Roller</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Hydra_Splatling_Flat.png') }}" alt="Hydra Splatling">
                <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb">
                <img src="{{ url_for('static',filename='img/specials/Booyah_Bomb.png') }}" alt="Booyah Bomb">
                <p>Hydra Splatling</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Glooga_Dualies_Flat.png') }}" alt="Glooga Dualies">
                <img src="{{ url_for('static',filename='img/subs/Splash_Wall_Flat.png') }}" alt="Splash Wall">
                <img src="{{ url_for('static',filename='img/specials/Booyah_Bomb.png') }}" alt="Booyah Bomb">
                <p>Glooga Dualies</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Clash_Blaster_Flat.png') }}" alt="Clash Blaster">
                <img src="{{ url_for('static',filename='img/subs/Splat_Bomb_Flat.png') }}" alt="Splat Bomb">
                <img src="{{ url_for('static',filename='img/specials/Trizooka.png') }}" alt="Trizooka">
                <p>Clash Blaster</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Bamboozler_14_Mk_I_Flat.png') }}" alt="Bamboozler 14 Mk 1">
                <img src="{{ url_for('static',filename='img/subs/Autobomb_Flat.png') }}" alt="Autobomb">
                <img src="{{ url_for('static',filename='img/specials/Killer_Wail_5.1.png') }}" alt="Killer Wail 5.1">
                <p>Bamboozler 14 Mk 1</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/H-3_Nozzlenose_Flat.png') }}" alt="H-3 Nozzlenose">
                <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor">
                <img src="{{ url_for('static',filename='img/specials/Tacticooler.png') }}" alt="Tacticooler">
                <p>H-3 Nozzlenose</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Goo_Tuber_Flat.png') }}" alt="Goo Tuber">
                <img src="{{ url_for('static',filename='img/subs/Torpedo_Flat.png') }}" alt="Torpedo">
                <img src="{{ url_for('static',filename='img/specials/Tenta_Missiles.png') }}" alt="Tenta Missiles">
                <p>Goo Tuber</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Rapid_Blaster_Pro_Flat.png') }}" alt="Rapid Blaster Pro">
                <img src="{{ url_for('static',filename='img/subs/Toxic_Mist_Flat.png') }}" alt="Toxic_Mist">
                <img src="{{ url_for('static',filename='img/specials/Ink_Vac.png') }}" alt="Ink Vac">
                <p>Rapid Blaster Pro</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/E-liter_4K_Scope_Flat.png') }}" alt="E-liter 4K Scope">
                <img src="{{ url_for('static',filename='img/subs/Ink_Mine_Flat.png') }}" alt="Ink Mine">
                <img src="{{ url_for('static',filename='img/specials/Wave_Breaker.png') }}" alt="Wave Breaker">
                <p>E-liter 4K Scope</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Nautilus_47_Flat.png') }}" alt="Nautilus 47">
                <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor">
                <img src="{{ url_for('static',filename='img/specials/Ink_Storm.png') }}" alt="Ink Storm">
                <p>Nautilus 47</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Explosher_Flat.png') }}" alt="Explosher">
                <img src="{{ url_for('static',filename='img/subs/Point_Sensor_Flat.png') }}" alt="Point Sensor">
                <img src="{{ url_for('static',filename='img/specials/Ink_Storm.png') }}" alt="Ink Storm">
                <p>Explosher</p>
            </label>
            <label>
                <img src="{{ url_for('static',filename='img/weapons/Ballpoint_Splatling_Flat.png') }}" alt="Ballpoint Splatling">
                <img src="{{ url_for('static',filename='img/subs/Fizzy_Bomb_Flat.png') }}" alt="Fizzy Bomb">
                <img src="{{ url_for('static',filename='img/specials/Inkjet.png') }}" alt="Inkjet">
                <p>Ballpoint Splatling</p>
            </label>
            
        </div>
    
    
    </main>


        
        

    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

