<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>All Registered Teams</title>
</head>
<body id="team-back" >




    <header>
        <div class="newnav">
            <a href="/edit/profile/" class="loginout">
                <span>Edit Profile</span>
                <div class="wave-login"></div>
            </a>
            <a href="/logout/" class="loginout">
                <span>Logout</span>
                <div class="wave-login"></div>
            </a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <h1 class="welcome-par">Welcome, {{logged_in_user.username}}</h1>
        <div class="dash">
                <a href="/dashboard/randomize_weapon/" class="link">
                    <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
                    <div class="wave-link"></div>
                </a>
                <a href="/dashboard/maps/" class="link">
                    <span>All Maps</span>
                    <div class="wave-link"></div>
                </a>
                <a href="/dashboard/weapons/" class="link">
                    <span>All Weapons</span>
                    <div class="wave-link"></div>
                </a>
                <a href="/all-teams/" class="link">
                    <span>All Teams</span>
                    <div class="wave-link"></div>
                </a>
                <a href="/create/team/" class="link">
                    <span>Create a Team</span>
                    <div class="wave-link"></div>
                </a>
            </div>
    </header>


    <main>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong class="error-par">WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p class="error-par">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <h1 class="center-par">Your Teams</h1>
        
        <table>
            <tbody>

                <tr>
                    <th>
                        Team Name
                    </th>
                    <th>
                        View
                    </th>
                </tr>
                {% for team in all_teams%}
                    {% if logged_in_user.id == team.creator_id %}
                    <tr class="teams-made">
                        <td>
                            <p>{{ team.team_name }}</p>
                        </td>
                        <td>
                            <a href="/team/{{team.id}}/view/" class="view-delete">
                                <span>View</span>
                                <div class="wave-link"></div>
                            </a>
                        </td>
                        <td>
                            <a href="/team/{{team.id}}/delete/" class="view-delete">
                                <span>Delete</span>
                            <div class="wave-link"></div>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        

        <h2 class="center-par">All Teams</h2>
        <table>
            <tr>
                <th>
                    Team Names
                </th>
                <th>
                    List Of Teammates
                </th>
            </tr>
            {% for team in all_teams%}
                <tr class="all-teams">
                    <td>
                        <a href="/team/{{team.id}}/view/" class="view">
                            <span>{{ team.team_name }}</span>
                            <div class="wave-link"></div>
                        </a>
                    </td>
                    <td class="team-members">
                        {% for member in team.on_team %}
                            <p>{{member.username}}</p>
                        {% endfor %}
                    </td>
                </tr>
                
            {% endfor %}
        </table>
    
    </main>



    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

