<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Form a New Team</title>
</head>


<body id="make-team-back">



    <header>
        <div class="newnav">
        
            <a href="/edit/profile/" class="link" id="loginout">Edit Profile</a>
            
            <a href="/logout/" class="link" id="loginout">Logout</a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
        
            <a href="/dashboard/randomize_weapon/">
                <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
            </a>
        
            <a href="/dashboard/" class="link">Home</a>
        
            <a href="/dashboard/maps/" class="link">All Maps</a>
        
            <a href="/dashboard/weapons/" class="link">All Weapons</a>
        
            <a href="/all-teams/" class="link">All Teams</a>
        
            <a href="/create/team/" class="link">Create a Team</a>
        </div>
    </header>

    <main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong class="error-par">WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p class="error-par">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <h1 class="center-par">Create a Team</h1>
        <div id="new_team_form_div">
            <form action="/create/team/form/" method="post" class="new_team_form">
                <label>
                    Team Name:
                    <input type="text" name="team_name">
                </label>
                <label>
                    Weapon Choice:
                    <select name="weapon_id" class="weapon-selection">
                        {% for weapon in all_weapons %}
                            <option value="{{weapon.id}}" class="weapon-select">{{weapon.weapon_name}}</option>
                        {% endfor %}
                    </select>
                </label>
                <label>
                    <input type="submit" value="Create" id="submit">
                </label>
            </form>
            
        </div>
    
    
    </main>
    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>