<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>
<body id="splatsville-back">



    <header>
        <div class="newnav">
        
            <a href="/edit/profile/" class="link" id="loginout">Edit Profile</a>
            
            <a href="/logout/" class="link" id="loginout">Logout</a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        
        </nav>
        <h1 class="welcome-par">Welcome {{logged_in_user.username}}</h1>
        <div class="dash">
            
                <a href="">
                    <img src="{{ url_for('static',filename='img/char_icons/O.R.C.A._icon.png') }}" alt="O.R.C.A" id="orca">
                </a>
            
                <a href="/dashboard/maps/" class="link">All Maps</a>
            
                <a href="/dashboard/weapons/" class="link">All Weapons</a>
            
                <a href="/all-teams/" class="link">All Teams</a>
                
                <a href="/create/team/" class="link">Create a Team</a>
                
                <a href="" class="link">Patch Notes</a>
                
            </div>
    </header>



    <main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong class="error-par">WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p class="error-par">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    </main>


    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

