<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Edit Profile</title>
</head>
<body id="profile-back">

    

    <header>
        <div class="newnav">
            <a href="/dashboard/" class="link" id="loginout">Home</a>
            <a href="/logout/" class="link" id="loginout">Logout</a>
        </div>
        <nav>
            {% block menu %} {% include 'edit_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong class="error-par">WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p class="error-par">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div class="center-par">

            <h2>Edit Profile</h2>
            <div class="new_team_form_div">
                <form action="/update/profile/" method="post" class="new_team_form edit-profile">
                    
                        <label>
                            Username:
                            <input type="text" name="username" value="{{logged_in_user.username}}">
                        </label>
                        <label>
                            Email:
                            <input type="email" name="email" value="{{logged_in_user.email}}">
                        </label>
                        <input type="submit" value="Submit" id="submit">
                    
                </form>
            </div>
        </div>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
