<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong>WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <nav>
            {% block menu %} {% include 'edit_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>

        <h1></h1>
        <h2>You're about to Edit your Profile, are you sure?</h2>

        <form action="/update/profile/" method="post">
            <div>
                <label>
                    Username:
                    <input type="text" name="username" value="{{logged_in_user.username}}">
                </label>
                <label>
                    Email:
                    <input type="email" name="email" value="{{logged_in_user.email}}">
                </label>
                <input type="submit" value="Submit"
            </div>
        </form>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
