<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Welcome</title>
</head>
<body id="new-back">
    <header>
        <div class="newnav">

            <a href="/register/form"  class="link" id="loginout">Register</a>
            
            <a href="/login/form"  class="link" id="loginout">Login</a>
        </div>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
            
            <a href="/new/dashboard/randomize_weapon/">
                <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
            </a>
        
            <a href="/new/dashboard/maps/" class="link">All Maps</a>
        
            <a href="/new/dashboard/weapons/" class="link">All Weapons</a>
        
            <a href="/new/all-teams/" class="link">All Teams</a>
            
            
        </div>
    </header>
    <main>

        <h1 class="center-par">Welcome to Splat-Hub</h1>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

