<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login</title>
</head>
<body id="log-reg-back">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong>WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <div class="newnav">
            <a href="/" class="link"  id="loginout">Home</a>
        </div>
        <nav>
            {% block menu %} {% include 'login_reg_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>

        <h1 class="center-par">Welcome to Splatsville</h1>

        <h3 id="login_reg">Login</h3>
        <div  id="login_reg_form_div">
            <form action="/login/" method="post" id="login_reg_form">
                    <label>
                        Email:
                        <input type="email" name="email">
                    </label>
                    <label>
                        Password:
                        <input type="password" name="password">
                    </label>
                    <input type="submit" value="Login">
    
            </form>
        </div>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

