<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unknown_style.css') }}">
    <title>Register</title>
</head>
<body id="splatsville-back">

    <header id="header-back">
        <div class="lognav">
            <a href="/" class="links">
                <span>Home</span>
                <div class="wave-login"></div>
            </a>
        </div>
        <nav id="logclock">
            {% block menu %} {% include 'clock_nav.html' %} {% endblock menu %}
        </nav>
    </header>

    <main>
        <div class="main-body">
            <h1 class="welcome-par">Welcome to Splat-Hub</h1>
            <div id="login_reg_form_div">
                <form action="/register/" method="post" id="login_reg_form">
                    <h2 id="login_reg">Register</h2>
                    
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <strong class="error-par">Hold Up, Chum</strong>
                            {% for message in messages %}
                                <p id="error-info">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    
                    <label>
                        Username:
                        <input type="text" name="username" id="username">
                    </label>
                    <label>
                        Email:
                        <input type="email" name="email" id="email">
                    </label>
                    <label>
                        Password:
                        <input type="password" name="password" id="password">
                    </label>
                    <label>
                        Confirm Password:
                        <input type="password" name="confirm_password" id="confirm_password">
                    </label>
                    <input type="submit" value="Register" id="submit">
                    
                </form>
                <div class="tiny-text">
                    <p>Already have an account?</p>
                    <a href="/login/form" class="">Sign in.</a>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

