<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Register</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <strong>WAAAIIITTTTT</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <nav>
            {% block menu %} {% include 'login_reg_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>

        <h1 id="welcome">Welcome to Splatsville</h1>

        <h3 id="login_reg">Register</h3>
        <div id="login_reg_form">
            <form action="/register/" method="post" id="login_reg_form">
                
                <label>
                    Username:
                    <input type="text" name="username" id="username">
                </label>
                <label>
                    Email:
                    <input type="email" name="email" id="email">
                </label>
                <label>
                    Password:
                    <input type="password" name="password" id="password">
                </label>
                <label>
                    Confirm Password:
                    <input type="password" name="confirm_password" id="confirm_password">
                </label>
                <input type="submit" value="Register">
                
            </form>

        </div>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

