<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>


<body id="murch-back">



    <header>
        <div class="newnav">
        
            <a href="/register/form" class="loginout">
                <span>Register</span>
                <div class="wave-login"></div>
            </a>
            
            <a href="/login/form" class="loginout">
                <span>Login</span>
                <div class="wave-login"></div>
            </a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
            
            <a href="/new/dashboard/randomize_weapon/" class="link">
                <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
                <div class="wave-link"></div>
            </a>
        
            <a href="/new/dashboard/maps/" class="link">
                <span>All Maps</span>
                <div class="wave-link"></div>
            </a>
        
            <a href="/new/dashboard/weapons/" class="link">
                <span>All Weapons</span>
                <div class="wave-link"></div>
            </a>
        
            <a href="/new/all-teams/" class="link">
                <span>All Teams</span>
                <div class="wave-link"></div>
            </a>

        </div>
    </header>




    <main>
    
    <div class="murch-container">
        <h3>Oi! You're not connected to the server.</h3>
        <h3>But if you're looking for a weapon to use, Here.</h3>
        <div class="random-murch">
            
            <h1 id="random-weapon">
                {{random_weapon.weapon_name}}

                <img src="/static/img/weapons/{{random_weapon.weapon_image}}">
            </h1>
            <img src="/static/img/char_icons/Murch_Chilling.jpg" alt="Murch_Chilling" id="murch-chilling">
                
        </div>
    </div>
    </main>
    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
