<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>All Registered Teams</title>
</head>
<body id="team-back" >


    <header>
        <div class="newnav">
            <a href="/register/form" class="loginout">
                <span>Register</span>
                <div class="wave-login"></div>
            </a>
            <a href="/login/form" class="loginout">
                <span>Login</span>
                <div class="wave-login"></div>
            </a>
        </div>
        <nav>
            {% block menu %} {% include 'clock_nav.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
            <a href="/new/dashboard/randomize_weapon/" class="link">
                <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
                <div class="wave-link"></div>
            </a>
            <a href="/new/dashboard/maps/" class="link">
                <span>All Maps</span>
                <div class="wave-link"></div>
            </a>
            <a href="/new/dashboard/weapons/" class="link">
                <span>All Weapons</span>
                <div class="wave-link"></div>
            </a>
            <a href="/new/all-teams/" class="link">
                <span>All Teams</span>
                <div class="wave-link"></div>
            </a>
        </div>
    </header>


    <main>


        <h1 class="center-par">All Teams</h1>
        <table>
            <tr>
                <th>
                    Team Names
                </th>
                <th>
                    List Of Teammates
                </th>
            </tr>
            {% for team in all_teams%}
                <tr class="all-teams">
                    <td>
                        <a href="/new/team/{{team.id}}/view/" class="view">
                            <span>{{ team.team_name }}</span>
                            <div class="wave-link"></div>
                        </a>
                    </td>
                    <td class="team-members">
                        {% for member in team.on_team %}
                            <p>{{member.username}}</p>
                        {% endfor %}
                    </td>
                </tr>
                
            {% endfor %}
        </table>
    
    </main>



    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>

