<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatoon 3 Maps</title>
</head>
<body id="maps-back">

    

    <header>
        <div class="newnav">
        
            <a href="/register/form" class="loginout">
                <span>Register</span>
                <div class="wave-login"></div>
            </a>
            
            <a href="/login/form" class="loginout">
                <span>Login</span>
                <div class="wave-login"></div>
            </a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
            
            <a href="/new/dashboard/randomize_weapon/" class="link">
                <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
                <div class="wave-link"></div>
            </a>
        
            <a href="/new/dashboard/maps/" class="link">
                <span>All Maps</span>
                <div class="wave-link"></div>
            </a>
        
            <a href="/new/dashboard/weapons/" class="link">
                <span>All Weapons</span>
                <div class="wave-link"></div>
            </a>
        
            <a href="/new/all-teams/" class="link">
                <span>All Teams</span>
                <div class="wave-link"></div>
            </a>

        </div>
    </header>


    <main>

        <h1 class="center-par">All Maps</h1>
        <div class="map-container">

            <div class="maps">
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Scorch_Gorge.png') }}" alt="Scorch Gorge" class="map-imgs">
                    <div class="map-title">
                            <span>Scorch Gorge</span>
                            <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Eeltail_Alley.png') }}" alt="EelTail Alley" class="map-imgs">
                    <div class="map-title">
                        <span>EelTail Alley</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename="img/maps/Museum_d'Alfonsino.png") }}" alt="Museum D'Alfonsino" class="map-imgs">
                    <div class="map-title">
                        <span>Museum D'Alfonsino</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Undertow_Spillway.png') }}" alt="Undertow Spillway" class="map-imgs">
                    <div class="map-title">
                        <span>Undertow Spillway</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Mincemeat_Metalworks.png') }}" alt="Mincemeat Metalworks" class="map-imgs">
                    <div class="map-title">
                        <span>Mincemeat Metalworks</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Hammerhead_Bridge.png') }}" alt="Hammerhead Bridge" class="map-imgs">
                    <div class="map-title">
                        <span>Hammerhead Bridge</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Mahi-Mahi_Resort.png') }}" alt="Mahi-Mahi Resort" class="map-imgs">
                    <div class="map-title">
                        <span>Mahi-Mahi Resort</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Inkblot_Art_Academy.png') }}" alt="Inkblot Art Academy" class="map-imgs">
                    <div class="map-title">
                        <span>Inkblot Art Academy</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Sturgeon_Shipyard.png') }}" alt="Sturgeon Shipyard" class="map-imgs">
                    <div class="map-title">
                        <span>Sturgeon Shipyard</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/MakoMart.png') }}" alt="MakoMart" class="map-imgs">
                    <div class="map-title">
                        <span>MakoMart</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Wahoo_World.png') }}" alt="Wahoo World" class="map-imgs">
                    <div class="map-title">
                        <span>Wahoo World</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Hagglefish_Market.png') }}" alt="Hagglefish Market" class="map-imgs">
                    <div class="map-title">
                        <span>Hagglefish Market</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Brinewater_Springs.png') }}" alt="Brinewater Springs" class="map-imgs">
                    <div class="map-title">
                        <span>Brinewater Springs</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename='img/maps/Flounder_Heights.png') }}" alt="Flounder Heights" class="map-imgs">
                    <div class="map-title">
                        <span>Flounder Heights</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename="img/maps/Um'ami_Ruins.png") }}" alt="Um'ami Ruins" class="map-imgs">
                    <div class="map-title">
                        <span>Um'ami Ruins</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename="img/maps/Manta_Maria.png") }}" alt="Manta Maria" class="map-imgs">
                    <div class="map-title">
                        <span>Manta Maria</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename="img/maps/Barnacle_&_Dime.png") }}" alt="Barnacle & Dime" class="map-imgs">
                    <div class="map-title">
                        <span>Barnacle & Dime</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
                <div class="map-label">
                    <img src="{{ url_for('static',filename="img/maps/Humpback_Pump_Track.png") }}" alt="Humpback Pump Track" class="map-imgs">
                    <div class="map-title">
                        <span>Humpback Pump Track</span>
                        <div class="wave-map"></div>
                    </div>
                </div>
            </div>
        
        </div>
    
    </main>


        
        

    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
