<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>View Team</title>
</head>


<body>

    

    <header>
        <div class="newnav">
        
            <a href="/edit/profile/" class="link" id="loginout">Edit Profile</a>
            
            <a href="/logout/" class="link" id="loginout">Logout</a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
        
            <a href="/dashboard/randomize_weapon/">
                <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
            </a>
        
            <a href="/dashboard/" class="link">Home</a>
        
            <a href="/dashboard/maps/" class="link">All Maps</a>
        
            <a href="/dashboard/weapons/" class="link">All Weapons</a>
        
            <a href="/all-teams/" class="link">All Teams</a>
        
            <a href="/create/team/" class="link">Create a Team</a>
        
    </div>
    </header>


    <main>
        
        <div class="solo-weapon-container">
            <p>{{ arm.weapon_name }}</p>
            <img src="/static/img/weapons/{{arm.weapon_image}}" alt="{{arm.weapon_name}}" class="weapon-img">
            <p>{{ arm.sub_name }}</p>
            <img src="/static/img/subs/{{arm.sub_image}}" alt="{{arm.sub_name}}" class="weapon-sub">
            <p>{{ arm.special_name }}</p>
            <img src="/static/img/specials/{{arm.special_image}}" alt="{{arm.special_name}}" class="weapon-spe">
        </div>
    
    </main>
    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>