<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Splatsville Dashboard</title>
</head>


<body id="team-back">

    

    <header>
        <div class="newnav">
        
            <a href="/edit/profile/" class="link" id="loginout">Edit Profile</a>
            
            <a href="/logout/" class="link" id="loginout">Logout</a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
        
            <a href="">
                <img src="{{ url_for('static',filename='img/char_icons/O.R.C.A._icon.png') }}" alt="O.R.C.A" id="orca">
            </a>
        
            <a href="/dashboard/" class="link">Home</a>
        
            <a href="/dashboard/maps/" class="link">All Maps</a>
        
            <a href="/dashboard/weapons/" class="link">All Weapons</a>
        
            <a href="/all-teams/" class="link">All Teams</a>
        
            <a href="/create/team/" class="link">Create a Team</a>
        
            <a href="" class="link">Patch Notes</a>
        
    </div>
    </header>


    <main>

        <div class="team-list">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <strong class="error-par">Wait a moment...</strong>
                    {% for message in messages %}
                        <p class="error-par">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1 class="center-par">{{club.name}}</h1>
            <p hidden>{{club.creator_id}}</p>
            <table>
                <tbody>
                    <tr>
                        <th>
                            <p>
                                Member Names
                            </p>
                        </th>
                        <th>
                            <p>
                                Weapon Choice
                            </p>
                        </th>
                    </tr>
                    {% for member in club.on_team%}
                        <tr class="team-list-table">
                            <td>
                                <p>{{member.username}}</p>
                            </td>
                            <td>
                                <p>{{member.weapon.weapon_name}}</p>
                            </td>
                            {% if member.username == logged_in_user.username %}
                                <td>
                                    <a href="/team/{{club.id}}/leave" class="view-delete">Leave</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if club.on_team|length < 4 %}
                <h3 class="center-par">Would you like to join?</h3>
                <form action="/join/{{club.id}}/form/" method="post" class="join-form">
                    <label>
                        Weapon Choice:
                        <select name="weapon_id" class="weapon-selection">
                            {% for weapon in all_weapons %}
                            <option value="{{weapon.id}}">{{weapon.weapon_name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    
                    
                    <input type="submit" value="Join" id="submit">
                </form>
            {% else %}
                
                
            {% endif %}
            
            
        </div>
    
    
    </main>
    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>