<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>View Team</title>
</head>


<body>

    

    <header>
        <div class="newnav">
            <a href="/edit/profile/" class="loginout">
                <span>Edit Profile</span>
                <div class="wave-login"></div>
            </a>
            <a href="/logout/" class="loginout">
                <span>Logout</span>
                <div class="wave-login"></div>
            </a>
        </div>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
        <div class="dash">
                <a href="/dashboard/randomize_weapon/" class="link">
                    <img src="{{ url_for('static',filename='img/char_icons/Murch_icon.png') }}" alt="Murch" id="murch">
                    <div class="wave-link"></div>
                </a>
                <a href="/dashboard/maps/" class="link">
                    <span>All Maps</span>
                    <div class="wave-link"></div>
                </a>
                <a href="/dashboard/weapons/" class="link">
                    <span>All Weapons</span>
                    <div class="wave-link"></div>
                </a>
                <a href="/all-teams/" class="link">
                    <span>All Teams</span>
                    <div class="wave-link"></div>
                </a>
                <a href="/create/team/" class="link">
                    <span>Create a Team</span>
                    <div class="wave-link"></div>
                </a>
            </div>
    </header>


    <main>
        <h1>A work in progress, Sorry</h1>
        <div class="solo-weapon-container">
            <p>{{ arm.weapon_name }}</p>
            <img src="/static/img/weapons/{{arm.weapon_image}}" alt="{{arm.weapon_name}}" class="weapon-img">
            <p>{{ arm.sub_name }}</p>
            <img src="/static/img/subs/{{arm.sub_image}}" alt="{{arm.sub_name}}" class="weapon-sub">
            <p>{{ arm.special_name }}</p>
            <img src="/static/img/specials/{{arm.special_image}}" alt="{{arm.special_name}}" class="weapon-spe">
        </div>
    
    </main>
    
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>