

/* *********************************CLOCK********************************************************************************* */


.clock{
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image:url(/static/img/backgrounds/Graffiti.jpg);
    background-color: slategrey;
    padding: 50px;
    margin: 20px;
    border-radius: 100%;
    background-size: 400px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.time{
    font-size: 4vw;
    font-weight: bold;
    color: #FFE400;
    /* color: #272727; */
    /* color: #747474; */
    font-style:italic;
}
.date-time{
    display: flex;
    justify-items: center;
    font-size: 2vw;
    /* color: #FFE400; */
    color: #82f032;
    font-style: italic;
}
@media screen and (max-width: 768px){
    .time{
        font-size: 4vw;
    }
}


/* *********************************FORMS********************************************************************************* */


input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 25px;
    box-sizing: border-box;
    border: 2px solid black;
}
input[type=email] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
}
input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
}
#submit{
    padding: 16px 32px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-color: #82f032;
    font-weight: 1000;
    width: 40%;
}
#submit:hover{
    padding: 16px 32px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-color: #7b14a7c8;
    font-weight: 1000;
    color: #82f032;
    transform: scale(1.15);
}
.weapon-selection{
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 25px;
}
.weapon-selection select{
    display: none;
}
.weapon-select{
    padding: 10px;
    margin: 10px;
}
.join-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join-form label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120%;
}


/* *********************************NEW USER LOGIN FORM********************************************************************************* */


#login_reg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    background-color: rgba(0, 0, 0, 0.587);
    padding: 10px;
    border-radius: 50px;
    color: #FFE400;
}
#login_reg_form_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.579);
    padding: 10px;
    border-radius: 50px;
    color: #FFE400;
}
#login_reg_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
}
#new_team_form_div{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    background-color: rgba(0,0,0,0.50);
    padding: 10px;
    border-radius: 50px;
    color: #FFE400;
}
#new_team_form{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
#new_team_form label{
    display: flex;
    flex-direction: column;
}
.edit-profile{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* width: 75%; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.445);
    padding: 30px;
    border-radius: 15px;
}
.edit-profile label{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* *********************************MENUS********************************************************************************* */


header{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-image:url(/static/img/backgrounds/Logos.jpg);
    /* background-size: fill; */
    padding: 20px;
    /* width: auto; */
    /* position: sticky; */
    padding-bottom: 5px;
    border-radius: 50px;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 30px;
}
.newnav{
    display: flex;
    justify-content:space-between;
    position: static;
}
.newnav a:hover{
    display: flex;
    justify-content: space-between;
    transform: scale(1.15);
}
.dash{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px;
    align-items: center;
    padding: 10px;
    background-color:rgb(68, 96, 54);
    background-image:url(/static/img/backgrounds/Splatoon3_BG_Paper.jpg);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.loginout{
    background-color: rgba(18, 17, 17, 0.3);
    font-style: oblique;
    text-decoration-line: none;
    padding: 2vw 3vw;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    color: #222629;
    font-weight: 900; 
    font-style: oblique;
    position: relative;
    overflow: hidden;
}
.loginout:hover{
    background-color:#f90cba90 ;
    color: #ffffff;
    transform: scale(1.15);
}
span{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    letter-spacing: 4px;
    color: #c5c6c8;
    font-size: 2vw;
    width: 100%;
}
.view-delete{
    text-decoration-line: none;
    padding: 15px;
    border: 1px solid black;
    background-color: #F5B842;
    border-radius: 75px;
    font-weight: 700;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.view-delete:hover{
    transform: scale(1.15);
}
.view{
    text-decoration-line: none;
    padding: 15px;
    border: 1px solid black;
    background-color: #F5B842;
    border-radius: 75px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.view:hover{
    transform: scale(1.10);
}
#murch{
    border-radius: 75px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 5vw;
}
#murch:hover{
    border-radius: 75px;
    transform: scale(1.15);
}
.link{
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding: 1vw 2vw;
    border: 1px solid black;
    background-color: #81f032c8;
    /* width: 100%; */
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    border-radius: 25px;
    color: #222629;
    font-weight: 900; 
    font-style: oblique;
    overflow: hidden;
    position: relative;
    margin: 5px;
    height: 5vw;
}
.link:hover{
    background-color: #7b14a7c8;
    color: #82f032;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.305), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.15);
}
.wave-login{
    width: 150%;
    height: 250%;
    background-color: #ea7120;
    box-shadow: inset 0 0 50px rgba(76, 219, 40, 0.765);
    position: absolute;
    left: 0;
    top: -60px;
    transition: 0.4s;
}
.wave-login:before{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 50%;
    background-color: #c308f7c4;
    animation: wave 5s linear infinite;
}
.wave-login:after{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 40%;
    background-color: rgba(20,20,20,0.5);
    animation: wave 10s linear infinite;
}
.wave-link{
    width: 150%;
    height:250%;
    background-color: #ea7120;
    box-shadow: inset 0 0 50px rgba(76, 219, 40, 0.765);
    position: absolute;
    left: 0;
    top: -60px;
    transition: 0.4s;
}
.wave-link:before{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 50%;
    background-color: #c308f7c4;
    animation: wave 5s linear infinite;
}
.wave-link:after{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 40%;
    background-color: rgba(20,20,20,0.5);
    animation: wave 10s linear infinite;
}
@keyframes wave {
    0% {
    transform: translate(-50%,-75%) rotate(0deg);
    }

    100% {
    transform: translate(-50%,-75%) rotate(360deg);
    }
}
.error-par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.593);
    font-size: 3vw;
    padding: 10px;
    border-radius: 50px;
    color: #ff2600;
    margin: 20px;
}
#error-info{
    display: flex;
    /* position:absolute; */
    width: auto;
    background-color: rgba(0, 0, 0, 0.593);
    font-size:2vw;
    padding: 10px;
    border-radius: 50px;
    color: #ff4d00;
}

/* *********************************MAIN ELEMENTS****************************************************************** */


body{
    width: auto;
    margin: 10px;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}
.center-par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    background-color: rgba(0,0,0,0.50);
    font-size: 3vw;
    padding: 15px;
    margin: 10px;
    border-radius: 50px;
    color: #FFE400;
}
.welcome-par{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.50);
    font-size: 3vw;
    padding: 10px;
    border-radius: 50px;
    color: #FFE400;
}
table{
    display: flex;
    background-color: white;
    width: 75%;
    justify-content: center;
    padding: 20px;
    background-image:url(/static/img/backgrounds/Splatoon3_BG_Paper.jpg);
    border-radius: 50px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
table p{
    font-size: 2vw;
}
tbody{
    display: flex;
    flex-direction: column;
    width: 1000px;
    border-radius: 50px;
    /* background-color: white; */
    justify-content: center;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);

}
th{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.50);
    border-radius: 50px;
    color: #FFE400;
    padding: 20px;
    border-radius: 50px 50px 10px 10px;
}
tr{
    display: flex;
    justify-content: center;
}
td{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}
.teams-made{
    /* background-color: rgba(255, 255, 255, 0.445); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 50px 50px 10px 10px;
    padding: 15px;
    font-size:20px;
}
.teams-made p{
    font-size: 18px;
    background-color: #272727c7;
    padding: 15px;
    color: #FFE400;
    border-radius: 40px;
}
.all-teams{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 50px 50px 10px 10px;
    font-size: 20px;
}
.all-teams p{
    font-size: 18px;
    background-color: #272727c7;
    color: #FFE400;
    padding: 15px;
    border-radius: 40px;
}
.team-members{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    /* padding: 10px; */
    width: 100px;
}
.team-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFE400;
    font-size: 20px;
}
.team-list-table{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 50px 50px 10px 10px;
}
.team-list-table td{
    border-radius: 50px 50px 10px 10px;
}
.murch-container{
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-image: url(/static/img/backgrounds/Splatoon3_BG_Paper.jpg);
    /* background-size: 400px; */
}
.murch-container h3{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background-color: #222629;
    border-radius: 50px;
    color: #82f032;
    font-size: 2vw;
}
.random-murch{
    display: flex;
    flex-direction: column;
    background-image: url(/static/img/backgrounds/splatoon3-graffiti-pattern-02.jpg);
    align-items: center;
    border-radius: 75px;
}
#murch-chilling{
    /* background-image: url(/static/img/char_icons/Murch_Chilling.jpg); */
    width: 75%;
    border-radius: 75px;
}
#random-weapon{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #82f032;
    background-color: #900bc1;
    padding: 15px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
#weapon-img{
    z-index: 2;
    width: 5vw;
}
.wave-title{
    width: 100%;
    height: 250%;
    background-color: #900bc1;
    box-shadow: inset 0 0 50px rgba(76, 219, 40, 0.765);
    position: absolute;
    left: 0;
    top: -60px;
    transition: 0.4s;
}
.wave-title:before{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 50%;
    background-color: #ea7120;
    animation: wave 5s linear infinite;
}
.wave-title:after{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 40%;
    background-color: rgba(20,20,20,0.5);
    animation: wave 10s linear infinite;
}


/* *********************************MAPS AND WEAPONS****************************************************************** */


.map-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #81f0323f;
    background-image:url(/static/img/backgrounds/Splatoon3_BG_Paper.jpg);
    border-radius: 80px;
    margin: 25px;
}
.maps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.all-map-label{
    background-color: #585858;
    border-radius: 5px 5px 50px 50px;
    position: relative;
    padding: 20px;
    margin: 10px;
    margin-top: 0px;
    font-size: 4vw;
    color: #FFE400;
    opacity: .9;
    background-image:url(/static/img/backgrounds/Repeating_Background.jpg);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.map-label{
    background-color: #515050;
    border-radius: 50px 50px 50px 50px;
    padding: 20px;
    margin: 10px;
    opacity: .9;
    /* position: relative;
    overflow: hidden; */
    /* background-image:url(/static/img/backgrounds/Repeating_Background.jpg); */
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.map-label:hover{
    transform: scale(1.15);
    background-color: #747272;
}
.map-title{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 5px;
    font-style: oblique;
    font-weight: 700;
    opacity: 1;
    background-color: #900bc1;
}
.wave-map{
    width: 500%;
    height: 650%;
    background-color: #900bc1;
    box-shadow: inset 0 0 50px rgba(76, 219, 40, 0.765);
    position: absolute;
    left: 0;
    top: -60px;
    transition: 0.4s;
}
.wave-map:before{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 50%;
    background-color: #ea7120;
    animation: wave 7s linear infinite;
}
.wave-map:after{
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 40%;
    background-color: rgba(20,20,20,0.5);
    animation: wave 10s linear infinite;
}
.map-label p{
    /* font-size: 2vw; */
    background-color: #7b14a7c8;
    color: #82f032;
    /* padding: 5px; */
    /* position: relative;
    overflow: hidden; */
    /* padding: 5px; */
    /* display: flex; */
    /* justify-content: center; */
    /* border-radius: 25px; */
    /* font-style: oblique;
    font-weight: 700;
    opacity: 1; */
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);

}
.map-imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid #FFE400;
    /* border: 5px solid #272727; */
    border-radius: 25px;
    opacity: 1;
    height: 225px;
    width: 400px;
    padding: 5px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);

}
.weapon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.all-weapons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
    margin: 0px;
    opacity: .9;
    background-image:url(/static/img/backgrounds/Splatoon3_BG_Paper.jpg);
    background-color: #79a05e3f;
}
.attachments{
    display: flex;
    justify-content: space-between;
}
.weapon-label{
    background-color: #4d4a4a;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid #5a117ac8;
    padding: 20px;
    margin: 10px;
    opacity: .9;
    /* background-image:url(/static/img/backgrounds/Repeating_Background.jpg); */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.weapon-label:hover{
    transform: scale(1.15);
    background-color: #7e7979;
}
.weapon-label p{
    font-size: 20px;
    background-color: #82f032;
    color: #5f07ed;
    /* color: black; */
    /* padding: 5px; */
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    border-radius: 25px;
    font-weight: 700;
    font-style: oblique;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.weapon-loadout{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #82f032;
    background-color: #9d0bd2;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}


/* *********************************IMAGES*************************************************** */


#new-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    /* align-items: center; */
    justify-content: center;
    /* position:relative; */
    /* height: 150vh; */
    /* background-size:contain; */
    
}
#log-reg-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    align-items: center; 
    /* position: relative; */
    /* height: max; */
    /* background-size: cover; */
}
#profile-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    align-items: center; 
    background-repeat: repeat;
    /* position: relative; */
    /* height: max; */
    /* background-size: cover; */
}
#splatsville-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    align-items: center; 
    /* position: relative; */
    /* height: max; */
    /* background-size: cover; */
}
#team-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    align-items: center; 
    /* position: relative; */
    /* height: max; */
    /* background-size: cover; */
}
#make-team-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    align-items: center; 
    /* position: relative; */
    /* height: max; */
    /* background-size: cover; */
}
#maps-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    align-items: center; 
    /* position: relative; */
    /* height: max; */
    /* background-size: cover; */
}
#weapons-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    align-items: center; 
    /* position: relative;
    height: max; */
    /* background-size: cover; */
}
#murch-back{
    background-image:url(/static/img/backgrounds/REPEAT_BACK.png);
    background-repeat: repeat;
    align-items: center;
}
.weapon-img{
    height: 80px;
    width: 100px;
    background-color: #384031;
    border-radius: 50px;
    padding: 10px;
    opacity: 1;
    /* box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216); */

} 
.weapon-sub{
    height: 30px;
    width: 30px;
    background-color: #515948;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);

} 
.weapon-spe{
    height: 30px;
    width: 30px;
    background-color: #515948;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);

}


/* *********************************UNSORTED OR NEW*************************************************** */





